.navigation {
	
	&__checkbox {
		display: none;
	}

	&__button {
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		background-color: $color-light;
		box-shadow: 0 1rem 3rem rgba($color-dark,.1);
		position: fixed;
		top: 6rem;
		right: 6rem;
		z-index: 2000;
		cursor: pointer;
		text-align: center;

		@include respond (tab-port) {
			top: 4rem;
			right: 4rem;
		}

		@include respond (phone) {
			top: 3rem;
			right: 3rem;
		}

		@include respond(smallest-phone) {
			height: 6rem;
			width: 6rem;
			top: 1.5rem;
			right: 2.5rem;
		}

	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		background-image: radial-gradient($color-primary-light, $color-primary-dark);
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		z-index: 1000;
		transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);

		@include respond (tab-port) {
			top: 4.5rem;
			right: 4.5rem;
		}

		@include respond (phone) {
			top: 3.5rem;
			right: 3.5rem;
		}

		@include respond(smallest-phone) {
			height: 5rem;
			width: 5rem;
			top: 2rem;
			right: 3rem;
		}

	}

	&__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1500;
		width: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	&__list {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	&__item {
		margin: 1rem;
	}

	&__link {

		&:visited,&:link {
			display: inline-block;
			font-size: 3rem;
			color: $color-light;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 300;
			padding: 1rem 2rem;
			background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
			background-size: 220%;
			-webkit-transition: all .4s;
			transition: all .4s;

			@include respond(small-phone) {
				font-size: 2.5rem;
			}

			@include respond(smallest-phone) {
				font-size: 2rem;
			}

			span {
				margin: 1.5rem;
			}

			&:hover,&:active {
			    background-position: 100%;
			    color: #55c57a;
			    -webkit-transform: translateX(1rem);
			    transform: translateX(1rem);
			}

		}
	}

	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}


	&__checkbox:checked ~ &__nav {
		opacity: 1;
		visibility: visible;
		width: 100%;
	}

	&__icon {
		position: relative;
		margin-top: 3.5rem;

		@include respond(smallest-phone) {
			margin-top: 3rem;
		}

		&,&::before,&::after {
			display: inline-block;
			background-color: $color-dark;
			height: 2px;
			width: 3rem;
			transition: all .2s;
		}

		&::before,&::after {
			content: "";
			position: absolute;
			left: 0;
		}

		&::before {
			top: -.8rem;
		}

		&::after {
			top: .8rem;
		}

	}

	&__button:hover &__icon::before {
		top: -1rem;
	}

	&__button:hover &__icon::after {
		top: 1rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}

	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}

}